:root{
    --primary-backgraund: #6009a9;
    --purple-lite: #901FEF;
    --secondary-backgraund: #F4F5FF;
    --secondary-backgraund-dark:#cfcfdb;
    --neutral-white: #ffffff;
    --heading-color: #1E242D;
    --primary-text-color: #636E7E;
    --success-dark: #166534;
    --success-lite: #BBF7D0;
    --success-lite-hover: #6fe398;
    --green: #22C55E;
    --green-dark: #0caa46;
}

/* Themes Styles */
$base_color: #7b2dd9;
$background_color: #f4f5ff;
$pro_badge_bg: #fff3f3;
$pro_badge_color: #ee5253;

/* Devices */
$mid_desktop: 1024px;
$desktop: 1300px;