.ffw-accordion-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Montserrat', sans-serif;

    .ffw-accordion{
        width: calc(100% - 60px);

        .ffw-accordion-heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            border-bottom: 1px solid #AEB6BF;
            cursor: pointer;

            i {
                line-height: 0;
            }
        }
        .ffw-accordion-tittle{
            font-size: 18px;
            font-weight: 500;
            color: #272E34;
        }
        .ffw-accordion-body{ 
            display: none; 
        }
        .ffw-basic-answer{
            font-size: 16px;
            color: #2c2d2d;
            text-align: justify;
            padding: 15px 20px;
            line-height: 1.8;
        }
    }
    .ffw-accordion:last-child .ffw-accordion-heading{
        border-bottom: 0px;
    }
    .ffw-accordion-active:last-child .ffw-accordion-heading {
        border-bottom: 1px solid #AEB6BF;
    }
    .ffw-accordion-active .ffw-accordion-heading i {
        transition: .6s ease-in-out;
        transform: rotate(-180deg);
    }
}